dask[compete]==2021.10.0
jupyterlab==3.3.2
pytest==7.1.1
coverage==6.3.2
pylint==2.12.2
pytest-cov==2.10.1
## The following requirements were added by pip freeze:
numpy==1.22.3
pandas==1.4.2
requests==2.27.1
